@model LeadManagementSystemV2.Models.EventModel
@using LeadManagementSystemV2.Helpers;
@section LinkStyleSection{
    @Styles.Render("~/assets/cache/select2style")
    @Styles.Render("~/assets/cache/datepickerstyle")
}
@section LinkScriptSection{
    @Scripts.Render("~/assets/cache/select2script")
    @Scripts.Render("~/assets/cache/datepickerscript")
}
@section InLineScriptSection{
    <script>
    @if (ViewBag.PageType == "View")
    {
       @:DisableView();
    }
        $("#eventDate").change(function () {
            $("#EventDateTime").val($(this).val());
        });


    </script>
}
@{Html.RenderPartial("BreadCrumb");}
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="panel">
        <!--Block Styled Form -->
        <!--===================================================-->
        @using (Ajax.BeginForm("Save", "events", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnFormBegin", OnComplete = "OnFormComplete", OnSuccess = "OnFormSuccess", OnFailure = "OnFormFailure" }, new { @id = "FormMember", @autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Title <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control", @placeholder = "Title *" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Location <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(m => m.EventLocation, null, new { @class = "form-control", @placeholder = "Location *" })
                        @Html.ValidationMessageFor(m => m.EventLocation, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Organizer <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(m => m.EventOrganizer, null, new { @class = "form-control", @placeholder = "Organizer *" })
                        @Html.ValidationMessageFor(m => m.EventOrganizer, "", new { @class = "text-danger" })
                    </div>
                </div>



                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Date Time <span class="text-danger">*</span></label>
                        <input type="datetime-local" id="eventDate" class="form-control" />
                        @Html.HiddenFor(x=>x.EventDateTime)
                        @Html.ValidationMessageFor(m => m.EventDateTime, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Description <span class="text-danger">*</span></label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Status <span class="text-danger">*</span></label>
                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                          {
                            new SelectListItem{ Text="Enable", Value = "Enable",Selected=true },
                            new SelectListItem{ Text="Disable", Value = "Disable" }
                         }, "Please-Select", new { @class = "form-control select-picker" })
                        @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
            <div class="panel-footer text-right">
                <a class="btn btn-info" href="@ViewBag.PageURL" tabindex="8">Back</a>
                <button class="btn btn-success" type="submit" tabindex="9">Save</button>
            </div>
        }
        <!--===================================================-->
        <!--End Block Styled Form -->
    </div>
</div>
<!--===================================================-->
<!--End page content-->
